<h1> User Information </h1>

<p><%= @user.username %>: <%= @user.email %> </p>
<!-- <%= render @user %>  -->

<% if @user.players.length > 0 %>
  <h2> Players </h2>
  <%= render @user.players %>
  <%= @user.players.length %> players
<% end %>

<%if @user.referees.length > 0 %>
   <h2> Referees </h2>
  <%= link_to 'New Referee' , new_referee_path%>
   <%= render @user.referees %>
   <%= @user.referees.length %> referees
<% end %>